::-webkit-scrollbar {display:none;}
html {overflow: -moz-scrollbars-none;}
.home_container{
  height: 90vh;
  overflow-y: auto;
  margin-top: 65px;
}
.home_middle_container{
  min-height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer_container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #64DCFC;
  height: 35px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}
.white_font_color{
  color: white;
}
.js_cards_containers{
  height: 400px;
  box-shadow: 0 0 3px grey;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.js_cards_containers:hover{
  transform: scale(1.1);
  transition: transform 0.2s linear;
}
.js_cards_containers_leave{
  height: 400px;
  box-shadow: 0 0 3px grey;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: scale(1);
  transition: transform 0.2s linear;
}

.image_container{
  width: 100%;
  height: 50%;
  box-shadow: 0 0 3px grey;
}
.angularBg{
  background: #B52E31;
}
.reactBg{
  background: #61DAFB;
}
.vueBg{
  background: #4DBA87;
}
.medium_font_Size{
  font-size: 24px;
  font-weight: 600;
}